In [1]:
# https://financedata.github.io/posts/finance-data-reader-users-guide.html 
!pip install -U finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.33-py3-none-any.whl (48 kB)
     |████████████████████████████████| 48 kB 4.3 MB/s eta 0:00:011
Requirement already satisfied: lxml in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: requests>=2.3.0 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: pandas>=0.19.2 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from finance-datareader) (1.2.3)
Requirement already satisfied: tqdm in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from finance-datareader) (4.59.0)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (1.22.2)
Requirement already satisfied: six>=1.5 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jeongseokgyu/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.33 requests-file-1.5.1

In [2]:
import pandas as pd
#import seaborn as sns
import FinanceDataReader as fdr
fdr.__version__

'0.9.33'

In [3]:
fdr.StockListing?

In [4]:
fdr.StockListing??

In [5]:
df_krx = fdr.StockListing("KRX")

In [6]:
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [7]:
df_krx.shape

(8248, 10)

In [8]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8248 entries, 0 to 8247
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          8248 non-null   object
 1   Market          8248 non-null   object
 2   Name            8248 non-null   object
 3   Sector          2499 non-null   object
 4   Industry        2482 non-null   object
 5   ListingDate     2499 non-null   datetime64[ns]
 6   SettleMonth     2499 non-null   object
 7   Representative  2499 non-null   object
 8   HomePage        2348 non-null   object
 9   Region          2499 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 708.8+ KB

In [9]:
df_krx.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,8248,8248,8248,2499,2482,2499,2499,2499,2348,2499
unique,8248,3,8248,161,2327,1859,8,2383,2327,22
top,57GAEA,KOSPI,한국H735KOSPI200풋,소프트웨어 개발 및 공급업,기업인수합병,1976-06-30 00:00:00,12월,김종현,http://www.cheryong.co.kr,서울특별시
freq,1,6551,1,151,29,8,2437,4,2,1020
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2022-06-03 00:00:00,NaN,NaN,NaN,NaN

In [ ]:
df_krx.to_csv("krx.csv", index = False)

In [ ]:
pd.read_csv("krx.csv")

In [ ]:
df = pd.read_csv("krx.csv", dtype = {"Symbol": object})

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample(2)

In [ ]:
# http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201020103
df = fdr.DataReader('005930', '2017', '2021')
df.head()

In [ ]:
df['Close'].plot()

In [ ]:
df = fdr.DataReader('AAPL', '2017-01-01', '2022-04-30')
df.tail()

In [ ]:
df['Close'].plot()

In [ ]:
df = fdr.DataReader('USD/KRW', '1995')
df.tail(10)

In [ ]:
df['Close'].plot()

In [ ]:
df = fdr.DataReader('CNY/KRW', '1995')
df.tail(10)

In [ ]:
df['Close'].plot()

In [ ]:
# 비트코인 원화 가격 (빗썸), 2016년 ~ 현재
df = fdr.DataReader('BTC/KRW', '2016')
df.tail(10)

In [ ]:
df['Close'].plot()

In [ ]:
df_krx.head()

In [ ]:
df_krx['Sector'].head()

In [ ]:
df_krx[['Symbol', 'Name']].head()

In [ ]:
df_krx[['Symbol', 'Name', 'Sector']].head()

In [ ]:
item_name = "삼성전자"
df_krx.loc[df_krx["Name"] == item_name, "Symbol"].tolist()[0]

In [ ]:
def item_code_by_item_name(item_name):
    item_code_list = df_krx.loc[df_krx["Name"] == item_name, "Symbol"].tolist()
    if len(item_code_list) > 0:
        item_code = item_code_list[0]
        return item_code
    else:
        return False

In [ ]:
item_code_by_item_name("삼성전자")

In [ ]:
def find_item_list(item_name, year=2022):
    item_code = item_code_by_item_name(item_name)
    if item_code:
        df_day = fdr.DataReader(item_code, str(year))
        return df_day
    else:
        return False

In [ ]:
find_item_list("삼성전자")

In [ ]:
find_item_list("삼성전자", 2021)

In [ ]:
find_item_list("삼성전자", 2017)

In [ ]:
stock_daily = find_item_list("삼성전자", 2017)
stock_daily

In [ ]:
stock_daily["Close"].plot()

In [ ]:
g = stock_daily.plot(subplots=True, figsize=(10, 8))

In [ ]:
stock_daily.describe()

In [ ]:
stock_daily[["Close", "Volume"]].plot(secondary_y="Volume")